__pycache__
*.pyc
*.pyo
*.egg-info
dist/
build/
.eggs/

# Environments
.env
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django
db.sqlite3
static/
src/media/*
!src/media/.gitkeep

# Docker
.dockerignore
